* {
  box-sizing: border-box;
  font-family: Georgia, serif;
}

body {
  background: linear-gradient(to right, #00ff7f, #00bfff);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vh;
  justify-content: center;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: fixed;
  top: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #c71585;
  color: #ff1493;
  height: 10vw;
  padding: 8vw;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnail {
  max-width: 25vw;
  max-height: 25vw;
}
