* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #D383FB, #00bfff);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  justify-content: center;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: fixed;
  top: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #c71585;
  color: #00ffff;
  font-weight: bold;
  height: 6vw;
  width: 100vw;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer
}

nav a {
  color: #00ffff;
  font-weight: bold;
}

.nav-item
.sidebar-item {
  padding: 2vw;
}

main {
  padding: 10vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#idea-component {
  max-width: 99%;
}

#archive-list,
#idea-list {
  margin-left: 4vw;
  margin-right: 4vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

#about-page,
.post-container,
.idea-short {
  box-sizing: border-box;
  border: 1px solid  black;
  border-radius: 25px;
  margin: 1em;
  padding: 1vw;
}

.post-link a {
  color: #000080;
}

.post-link a:visited {
  color: #006400;
}

.idea-short a {
  text-decoration: none;
}

.idea-short a:link {
  color: #000080;
}

.idea-short a:visited {
  color: #4b0082;
}

.thumbnail {
  max-width: 25vw;
  max-height: 25vw;
}
