* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #D383FB, #00bfff);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  justify-content: center;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: fixed;
  top: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #c71585;
  color: #00ffff;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 6vw;
  width: 100vw;
}

nav a {
  color: #00ffff;
  font-weight: bold;
}

.nav-item
.sidebar-item {
  padding: 2vw;
}

main {
  padding: 10vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-link a {
  color: #000080;
}

.post-link a:visited {
  color: #006400;
  /* this one's not working! */
}

.thumbnail {
  max-width: 25vw;
  max-height: 25vw;
}
